<header class="p-3 mb-2 bg-info text-white">
  <ul class="nav container justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link active homeBtn text-white"
        aria-current="page"
        href="/homepage"
      >Home</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link dashboardBtn text-white"
        href="/dashboard"
      >Dashboard</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link logoutBtn text-white"
        id="logoutBtn"
        href="/"
      >Logout</a>
    </li>
  </ul>
  <h1 class="container justify-content-center">CodeTechChitChat</h1>
</header>

<div
  class="container justify-content-center col-6 border border-primary mx-auto"
>
  <form class="mx-auto newPostForm">
    <div class="form-group col-12">
      <label>Title of Post</label>
      <input
        type="text"
        class="form-control"
        id="postTitle"
        placeholder="Post Title"
      />
    </div>
    <div class="form-group col-12 mb-2">
      <label>Comment...</label>
      <input
        type="text"
        class="form-control"
        id="postContent"
        placeholder="Comment Here"
      />
    </div>
    <button type="submit" id="postBlogBtn" class="btn btn-primary">
      Post
    </button>
  </form>
</div>
<script src="/js/newPost.js"></script>