<ul>
  {{#each users as |user|}}
    <li>{{user.name}}</li>
  {{/each}}
</ul>
<ul>
  {{#each blog as |blog|}}
    <li>{{blog.title}}<p>{{blog.content}}</p></li>
  {{/each}}
</ul>

<script src="/js/homepage.js"></script>