<header class="p-3 mb-2 bg-info text-white"><div>
    <h1 class="text-center">CodeTechChitChat</h1>
  </div>
</header>
<div class="container justify-content-center">
  <h1 class="text-center about">
    Login
  </h1>
</div>
<div class="d-flex justify-content-center">
  <div class="container m-4 crimsonFont">
    <form class="loginForm">
      <div class="mb-3">
        <label for="email-login" class="form-label">
          Email address
        </label>
        <input
          type="email"
          class="form-control"
          id="emailLogin"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">
          Password
        </label>
        <input type="password" class="form-control" id="passwordLogin" />
      </div>
      <button type="submit" id="submit" class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a class="registerBtn" href="/register">Want to join in on the chatter but
    don't have an account? Click here to join now!</a>
</div>

<script src="/js/login.js"></script>